body
{
    --main-color: rgb(210, 210, 210);
    --main-color2: rgb(50, 50, 70);
    --color-hover: rgb(100, 100, 120);
    margin:0px;
    background: linear-gradient(var(--main-color), white ) no-repeat;
    background-size:100% 800px;
    /*background-color: var(--main-color);*/
    font-family: Roboto;
    
}

header
{
    margin: 0px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    position: relative;
    display: flex;
}

#MonLogo {
    margin-top: 5px;
    margin-left: 10px;
}

#MonLogo {
    height: 40px;
}

header, .Bouton_Header, .Bouton_Header_hover {
    height: 50px;
    z-index: 1;
}

header, .Bouton_Header {
    background-color: var(--main-color2);
}

.Bouton_Header, .Bouton_Header_hover {
    color: var(--main-color);
    font-size: 1.3em;
    font-weight: bold;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.Bouton_Header:hover, .Bouton_Header_hover{
    background-color: var(--color-hover);
}

.BoutonFermer {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 50px;
    width: 50px;
    background-color: rgb(250, 50, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    color: white;
    transition: 0.5s;
}

.BoutonFermer:hover {
    background-color: rgb(250, 150, 150);
    color: var(--color-hover);
}